In [100]:
import pandas as pd
import numpy as np

In [101]:
df = pd.read_csv('superstore_final_dataset.csv')
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

Step 1: Removing duplicate rows ( there could be duplicate rows excluding Row_ID column ).

In [102]:
df = df.drop_duplicates(subset=[col for col in df.columns if col != 'Row_ID'])

Step 2: Removing rows for which few values are missing.

In [103]:
df = df.dropna()

Step 3: Remove irrelevant values from each column if any. Validation of all values for a column( order date and ship date value must be in correct date format ). For each entry in dataset ship date >= order date

In [104]:
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9788 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9788 non-null   int64
 1   Order_ID       9788 non-null   object
 2   Order_Date     9788 non-null   object
 3   Ship_Date      9788 non-null   object
 4   Ship_Mode      9788 non-null   object
 5   Customer_ID    9788 non-null   object
 6   Customer_Name  9788 non-null   object
 7   Segment        9788 non-null   object
 8   Country        9788 non-null   object
 9   City           9788 non-null   object
 10  State          9788 non-null   object
 11  Postal_Code    9788 non-null   float64
 12  Region         9788 non-null   object
 13  Product_ID     9788 non-null   object
 14  Category       9788 non-null   object
 15  Sub_Category   9788 non-null   object
 16  Product_Name   9788 non-null   object
 17  Sales          9788 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.4+ MB

In [106]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

C:\Users\mtayy\AppData\Local\Temp\ipykernel_16836\1438468969.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'])
C:\Users\mtayy\AppData\Local\Temp\ipykernel_16836\1438468969.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

In [107]:
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9788 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9788 non-null   int64
 1   Order_ID       9788 non-null   object
 2   Order_Date     9788 non-null   datetime64[ns]
 3   Ship_Date      9788 non-null   datetime64[ns]
 4   Ship_Mode      9788 non-null   object
 5   Customer_ID    9788 non-null   object
 6   Customer_Name  9788 non-null   object
 7   Segment        9788 non-null   object
 8   Country        9788 non-null   object
 9   City           9788 non-null   object
 10  State          9788 non-null   object
 11  Postal_Code    9788 non-null   float64
 12  Region         9788 non-null   object
 13  Product_ID     9788 non-null   object
 14  Category       9788 non-null   object
 15  Sub_Category   9788 non-null   object
 16  Product_Name   9788 non-null   object
 17  Sales          9788 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 1.4+ MB

In [109]:
df = df[df['Ship_Date'] >= df['Order_Date']]

In [110]:
df.reset_index(drop=True, inplace=True)

In [111]:
df.to_excel('superstore_final_cleaned_dataset.xlsx', index=False)

In [112]:
df = pd.read_excel('superstore_final_cleaned_dataset.xlsx')
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940
2,13,CA-2018-114412,2018-04-15,2018-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552
3,14,CA-2017-161389,2017-05-12,2017-10-12,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,Washington,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976
4,15,US-2016-118983,2016-11-22,2016-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,Texas,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.810

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8104 entries, 0 to 8103
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         8104 non-null   int64
 1   Order_ID       8104 non-null   object
 2   Order_Date     8104 non-null   datetime64[ns]
 3   Ship_Date      8104 non-null   datetime64[ns]
 4   Ship_Mode      8104 non-null   object
 5   Customer_ID    8104 non-null   object
 6   Customer_Name  8104 non-null   object
 7   Segment        8104 non-null   object
 8   Country        8104 non-null   object
 9   City           8104 non-null   object
 10  State          8104 non-null   object
 11  Postal_Code    8104 non-null   int64
 12  Region         8104 non-null   object
 13  Product_ID     8104 non-null   object
 14  Category       8104 non-null   object
 15  Sub_Category   8104 non-null   object
 16  Product_Name   8104 non-null   object
 17  Sales          8104 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.1+ MB

In [114]:
df.loc[2133]

Row_ID                                        2627
Order_ID                            CA-2018-127180
Order_Date                     2018-10-22 00:00:00
Ship_Date                      2018-10-24 00:00:00
Ship_Mode                              First Class
Customer_ID                               TA-21385
Customer_Name                         Tom Ashbrook
Segment                                Home Office
Country                              United States
City                                 New York City
State                                     New York
Postal_Code                                  10024
Region                                        East
Product_ID                         TEC-PH-10003800
Category                                Technology
Sub_Category                                Phones
Product_Name     i.Sound Portable Power - 8000 mAh
Sales                                        52.99
Name: 2133, dtype: object

In [115]:
df['Sales'].describe()

count     8104.000000
mean       234.150872
std        661.643335
min          0.444000
25%         17.220000
50%         54.432000
75%        210.995000
max      22638.480000
Name: Sales, dtype: float64